.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px;
}

.navbar-logo img {
    height: 50px;
    margin-right: 20px;
    margin-left: 100px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-link {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-button {
    background-color: #741eff;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    border: 1.5px solid #741eff;
    text-decoration: none;
    margin-right: 100px;
}

.navbar-button:hover {
    background-color: white;
    border: 1.5px solid #741eff;
    color: #741eff;
}